 @import url('../../.cache/wal/colors-waybar.css');

* {
    font-size: 16px;
    font-family: "Source Han Sans JP, Symbols Nerd Font";
    transition: all 0.5s ease;
font-weight:600;

}



window#waybar {
    all: unset;
    background-color: transparent;
    margin: 8px 12px; /* Margin from screen edges: 8px top/bottom, 12px left/right */
}

.modules-left {
    margin: 2px 0px 2px 4px;
}
.modules-center {
    margin: 2px 0px 2px 0px;


  /*  text-shadow: 5px 5px #1a1717; */
}
.modules-right {
    margin: 2px 2px 4px 0px;
}

/* Individual module styling */
#workspaces,
#mpris,
#clock,
#pulseaudio,
#language,
#custom-control-center,
#custom-power,
#window,
#custom-weather,
#custom-weather2,
#system,
#tray{
background-color: alpha(@background, .81);
border-radius: 5px;
border: 2px solid alpha(#0f0f0e, 0.5);

padding: 0px 4px 0px 4px;
margin: 2px 1px;
color: @foreground;
text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;

}

/* Workspace buttons */
#workspaces button {
background-color: transparent;
padding: 0 6px;
margin: 0 4px;

}




#pulseaudio-slider {
background-color: alpha(@background, 0.81);
border-radius: 5px;
border: 3px solid alpha(#0f0f0e, 0.5);

padding: 0px 4px 0px 4px;
margin: 2px 1px;

text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    
}
#pulseaudio-slider slider {
   
    min-width: 0px;
 min-height: 0px;
 border: 0px;
    box-shadow: none;
    background-color: alpha (@foreground, 0);

}
#pulseaudio-slider trough {
    min-height: 5px;
    min-width: 80px;
    border-radius: 5px;
  
   
}
#pulseaudio-slider highlight {
    min-width: 5px;
    border-radius: 5px;
    background-color: @color12;
    
}


#custom-power{
    font-size:20px;
padding: 2px 3px 3px 2px

}

#custom-control-center{
    padding: 2px 0px 2px 4px
}

#workspaces button.active label {
color: alpha(@color4, 1.0);
font-size: 16px;
}

#workspaces button label {

    color: @foreground;
    font-size:16px;
}


/* Hover effects */
#workspaces:hover,
#mpris:hover,
#clock:hover,
#pulseaudio:hover,
#language:hover,
#custom-control-center:hover,
#memory:hover,
#cpu:hover,
#pulseaudio-slider:hover,
#workspaces button:hover {
background-color: alpha(@background, 0.81); 
color: @color2;
border: 3px solid alpha(#0f0f0e, 0.5);
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); 
}


#workspaces button:hover {
background-color: transparent;
color: @color2;
}

#tray #tray { 
background-color: transparent;
padding: 0px 5px 0px 15px;
box-shadow: none;
border: none;
}
#tray menu {
background-color: alpha(@background, 0.81);
border: solid 1px alpha(@color1, 0.8);
}
#tray menu separator {
background-color: alpha(@color1, 0.8);
}
#tray menu label {
color: @foreground;
}
#tray menu menuitem:hover {
background-color: @foreground;
}
#tray menu menuitem:hover label {
color: @background;
}
