@import url('/home/xo/.cache/wal/colors-waybar.css');

@define-color text  @foreground;
@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'Caskaydia Cove Nerd Font';
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
	transition: all 0.3s ease;
}

window {
    background-color: alpha(@background, .85);
	border-radius: 10px;
	border: solid 1px alpha(@color1, 1.0);
}
#inner-box {
    padding: 5px;
}
#input {
    margin: 20px;
    padding: 20px;
    color: @color7;
    box-shadow: 1px 1px 5px rgba(0,0,0, .65);
    border-radius: 10px;
    background-color: alpha(@color7, .4);
	border: solid 1px alpha(@color1, 0.1);
}
#input image {
    color: @color1;
    padding-right: 15px;
}
#input:focus {
	border: solid 1px alpha(@color1, .9);
}
#scroll {
 	padding: 0px 15px 20px;
}

#text {
    color: @text;
}
#entry {
    margin: 5px 0px;
	padding: 10px 0px 10px 10px;
    border-radius: 10px;
}
#entry #img {
	padding-right: 15px;
}
#entry:selected {
    background-color: alpha(@color1, 0.9);
}
#entry:selected #text {
    color: @background;
}
#entry:drop(active) {
    background-color: @foreground;
}
