#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#171711",
    floating_border_color: "#78bcc1",
    focused_border_color: "#B9B9B8",
    background_color: "#171711",
)