.theme-dark {
    --background-primary: #171711 !important;
    --background-secondary: #171711 !important;
    --titlebar-background-focused: #171711 !important;
    --background-modifier-form-field: #171711 !important;
    --background-modifier-border-focus: #7897c133 !important;
    --divider-color: #7897c133 !important;
    --background-modifier-cover: #171711 !important;
    --prompt-border-color: #7897c133 !important;
    --layer-1: #7897c133 !important;
    --background-modifier-border: #7897c177 !important;
    --interactive-normal: var(--layer-1) !important;
    --text-faint: #7897c177 !important;
    --background-modifier-border-hover: #7897c133 !important;
    --indentation-guide-color: #7897c133 !important;
    --indentation-guide-color-active: #7897c177 !important;
}

.theme-dark .nav-folder-title-content::before {
    color: #7897c177 !important;
}

body {
    --tab-stacked-pane-width: 100%;
}
