/**
 * @name pywal
 * @description pywal theme

 * @version 1.0.3
 * @author xo-xo-xo
 */


:root {{
    --primary-background-color: {background};
    --secondary-background-color: {background};
    --modal-background-color: {background};
}}

.poster-image-NiV7O:hover {{
    cursor: pointer;
}}
